/* style for the page's background */

body {
	background-color: b3ffff;
	color: 141414;
}

/* default button and input box style */

button {
        background-color: 99eeee;
        color: 141414;
}

input {
        background-color: 99eeee;
        color: 16161f;
}

/* style for different usernames */

.adminname {
	color: red;
}

.modname {
	color: blue;
}

.user2name {
	color: 555555;
}

.username {
	color: 141414;
}

/* style for message box */

#messagebox {
	text-align:left;
	margin-botton:25px;
	margin-left:25%;
	padding:10px;
	height:60%;
	width:50%;
	overflow:auto;
	background-color:99dfdf;
}

/* style for different specific buttons in room */

#adminbutton {
	color:white;
	background-color:black;
}

#themebutton {
	color:141414;
	background-color:bb9955;
}

#logoutbutton {
	color:141414;
	background-color:ee8080;
}

#clearbutton {
	color:141414;
	background-color:99efef;
}

#refreshbutton {
	color:141414;
	background-color:99ff99;
}

/* Disabled button style */
.disabledbutton {
	color:141414;
	background-color:grey;
	box-shadow:none;
}
