/* style for the page's background */

body {
	background-color: #f9d5e5;
	color: 000000;
}

/* default button and input box style */

button {
        background-color: #f9d5e5;
        color: 000000;
}

input {
        background-color: #d6b9c7;
        color: 120010;
}

/* style for different usernames */

.adminname {
	font-weight: bold;
	color: ee3333;
}

.modname {
	font-weight: bold;
	color: 3333ee;
}

.user2name {
	font-weight: bold;
	color: ccaaaa; /* www. */
}

.username {
	font-weight: bold;
	color: 000000;
}

/* style for message box */

#messagebox {
	text-align:left;
	margin-botton:25px;
	margin-left:25%;
	padding:10px;
	height:60%;
	width:50%;
	border:6px solid #dd6677;
	overflow:auto;
	background-color:fae5f0;
}

/* style for different specific buttons in room */

#adminbutton {
	color:white;
	background-color:black;
}

#themebutton {
	color:white;
	background-color:997733;
}

#logoutbutton {
	color:white;
	background-color:aa4466;
}

#clearbutton {
	color:white;
	background-color:00004d;
}

#refreshbutton {
	color:white;
	background-color:002211;
}

/* Disabled button style */
.disabledbutton {
	color:white;
	background-color:grey;
	box-shadow:none;
}
